$cWhite: rgba(255, 255, 255, 1);
$cPureBlack: #000000;
$cBlack: #191919;
$cPink: #FFAFC4;
$cDark: #333;
$cBlackish: #191919;
$cDarkPink: #FF82A3;
$cLightGray: #e5e5e5;
$cBackground: $cBlack;
$cGrey:#D3D3D3;
$cGrey2:#acacac;